<li class="search-item list-group-item clearfix">
	<button class="play-pause-button"></button>
	<div class="cover-art pull-left">
		<a target="_blank"><img src="" class="img-reponsive img-rounded"></a>
	</div>
	<div class="title-and-artist"><div class="song-title"><a target="_blank"><span></span></a></div>
	<div class="song-artist"></div></div>
	<div class="metadata"><div class="song-duration"></div></div>
</li>
