<h1 id="room-header">
    <button id="lock" type="button" class="btn btn-default">
        <i class="fa fa-unlock hidden" aria-hidden="true"></i>
        <i class="fa fa-lock hidden" aria-hidden="true"></i>   
    </button>
    <%= room_name %>
    <button id="delete-room" type="button" class="btn btn-danger">Delete room</button>
</h1>
