<div id="left-panel" class="col-md-3">
	<h3>Music Source</h3>     
	<ul id="music-sources" class="nav nav-pills nav-stacked">
		<li class="active" id="soundcloud"><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i>SoundCloud</a></li>
		<li id="spotify"><a href="#"><i class="fa fa-spotify" aria-hidden="true"></i>Spotify</a></li>
	</ul>
	<div class="panel-footer clearfix">
		<a href="/rooms/"><i class="fa fa-home" aria-hidden="true"></i>Rooms</a>
	</div>
</div>
