<li id="" class="receiver list-group-item clearfix">
    <span class="info"></span>
    <button type="button" class="remove pull-right btn btn-xs btn-danger">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</li>
