<div id="receiver-form" class="hidden">
    <h4>Add speakers</h4>
    <div class="hidden placeholder">
        <li class="form-check list-group-item">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="freeReceivers" value="">
                <span></span>
            </label>
        </li>
    </div>
    <form>
        <ul id="free-receivers" class="list-group">
        </ul>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-12">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="cancel pull-right btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>     
</div>
