<!DOCTYPE html>
<html>
	<head>
		<title>Wait!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/enter_password.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
			<div class="row">
                <div>
                    <h3>This room requires a password</h3>
                    <form action="/rooms/<%= room_id %>/join" method="post">
                        <% wrongPassword = (locals.error_message) ? true : false %>
                        <% formGroupClass = wrongPassword ? 'form-group has-error has-feedback' : 'form-group' %>
                        
                        <div class="<%= formGroupClass %>">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            <% if (wrongPassword) { %>
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            <% } %>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
			</div>
        </div>
	</body>
</html>
