<!DOCTYPE html>
<html>
	<head>
		<title>Rooms</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/rooms.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <% nRooms = locals.rooms ? rooms.length : 0 %>

            <h3 id="room-count">Rooms (<span><%= nRooms %></span>)</h3>
            <div id="rooms">
                <div class="hidden placeholder">
                    <% include ./partials/rooms/room %>
                </div>
                <ul class="list-group">
                </ul>
            </div>
            <button type="button" class="create-room btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Create room</button>
            <% include ./partials/rooms/room_form %>
        </div>
        
        <script type="text/javascript" src="/javascripts/rooms.js"></script>
        
        <script>
            var rooms_ = <%- JSON.stringify(rooms) %>;
            RoomController.init(rooms_);
        </script>
	</body>
</html>
